.Blog {
  padding-top: 3vh;
  padding-bottom: 10vh;
  background-color: #e1f5fe;
}

.blog-divider {
  margin: 0% 42%;
  border-top: 5px solid #e45447;
}
.blog-header {
  color: var(--main-font);
  font-weight: bolder;
  position: relative;
  text-align: left;
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.blog-plate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blog-layout {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 2% 2% 2% 2%;
  margin-top: 5%;
  background-color: #f9f9ff;
  color: #222222;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px #90acd1;
  .urls {
    background-color: #90acd1;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}
// small screen
@media screen and (max-width: 960px) {
  .blog-layout {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 5% 5% 5% 5%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 4.5%;
  }
}

.blog-layout:hover {
  background-color: #90acd1;
  color: #fff;
  .urls {
    margin-right: 0.5rem;
    background-color: #f9f9ff;
    border: none;
    color: #222222;
    transition: all 0.2s ease-in;
  }
  .read-more{
    color: #f9f9ff;
  }
}
.blog-image {
  margin: 2%;
  border-radius: 10px;
  align-self: center;
}
.blog-body {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.blog-title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins";
  letter-spacing: 1px;
}

.blog-desc {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  opacity: 0.9;
  font-weight: 400;
  line-height: 1.625rem;
}

.read-more{
  color: #90acd1;
  background-color: transparent;
  border: none;
  cursor: default;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}